$list_to_sort: john anna zoe kim felicia carrie;

$sorted_list: ();
@for $i from 1 through length($list_to_sort) {
  $min: null;
  $minIndex: null;

  @for $j from 1 through length($list_to_sort) {
    $current: nth($list_to_sort, $j);

    @if $min == null or $current < $min {
      $min: $current;
      $minIndex: $j;
    }
  }

  $sorted_list: append($sorted_list, $min, comma);
  $list_to_sort: set-nth($list_to_sort, $minIndex, null);
}

// Printing the sorted list in the debug output
@debug $sorted_list;
